{% extends 'base.html.twig' %}

{% block title %}Bienvenue!{% endblock %}

{% block body %}

<div  align= center class="example-wrapper">
    <h1>Bienvenue</h1>

    Sur le site de la ville d'atlande

</div>
{% endblock %}
