{% extends 'base.html.twig' %}

{% block title %}Agendas index{% endblock %}

{% block body %}
    <h1  align= center >Agendas des Festivités</h1>

    <table class="table">
        <thead>
            <tr>
 
                {# <th>Titre</th> #}
                <th>Date</th>
                <th>Lieu</th>
                <th>Description</th>

            </tr>
        </thead>
        <tbody>
        {% for agenda in agendas %}
            <tr>

                <td colspan="3"><h4 align= center >{{ agenda.title }}</h4></td>
                </tr>
                <tr>
                <td>{{ agenda.date }}</td>
                <td>{{ agenda.place }}</td>
                <td>{{ agenda.content }}</td>


            </tr>

        {% endfor %}
        </tbody>
    </table>

{% endblock %}
