{% extends 'base.html.twig' %}

{% block title %}History index{% endblock %}

{% block body %}
    

        {% for history in histories %}
            <h1  align= center >{{ history.title }}</h1>
             <p>{{ history.content }}</P>
   
        {% endfor %}

{% endblock %}
